<ion-content has-subheader="false">
  <div class="history">
    <div class="order-data" ng-repeat="item in order | orderBy: '-id'">
      <div class="oddNumbers" >
        服务单号：{{item.order}}
      </div>
      <div class="ocMain">
        <div class="ocm-img"><img ng-src="{{item.img}}" alt=""></div>
        <div class="ocm-context">
          <p>{{item.name}}</p>
          <p>编号：{{item.number}}</p>
          <p>年龄：{{item.age}}</p>
          <p>销量：{{item.evaluate}}</p>
        </div>
      </div>
      <div class="delete">
        <a ng-click="showPopup({{item.id}})" class="aaa">删除</a>
      </div>
    </div>
  </div>
  <div ng-hide="hide" class="nonos">
    <h3>天啊！你一单也没有，也太抠了吧！</h3>
    <img src="images/no.png" alt="" class="no-order">
  </div>
</ion-content>
